.card {
  max-width: 40rem;
  border-radius: 1rem;
  overflow: hidden;

  -webkit-box-shadow: 0 3px 18px 3px #ddd;
-moz-box-shadow: 0 3px 18px 3px #ddd;
box-shadow: 0 3px 18px 3px #ddd;
}
.card__image {
  object-fit: cover;
}
.card__body {
  padding: 2rem;
}
.card__buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__button {
  padding: .8rem 1.6rem;
  background-color: rgb(56, 122, 216);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  transition: opacity 300ms linear;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  color: #fff;
}
.card__button:hover {
  cursor: pointer;
  opacity: .8;
}