<!-- footer -->
<footer class="footer">
  <div class="footer__content container">
    <section>
      <h3 class="title-3">Desarrollador</h3>
      <p class="">Hecho con &#128153; por <strong>Eber Alejo</strong></p>
    </section>

    <section>
      <h3 class="title-3">Contacto</h3>
      <ul class="footer__contact">
        <li>
          <a class="footer__link" href="mailto:eber4202@hotmail.com">
            <i class="fa-solid fa-envelope"></i>
            E-Mail
          </a>
        </li>
        <li>
          <a class="footer__link" rel="noreferrer" href="https://github.com/ch3ber" target="_blank">
            <i class="fa-brands fa-github"></i>
            GitHub
          </a>
        </li>
        <li>
          <a class="footer__link" rel="noreferrer" href="https://twitter.com/ch3ber_dev" target="_blank">
            <i class="fa-brands fa-twitter"></i>
            Twitter
          </a>
        </li>
        <li>
          <a class="footer__link" rel="noreferrer" href="https://www.linkedin.com/in/eberalejo" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
          </a>
        </li>
      </ul>
    </section>
  </div>
</footer>