html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', sans-serif, Arial;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
