.title-1 {
  font-weight: bold;
  font-size: 4.8rem;
}
.title-2 {
  font-weight: bold;
  font-weight: 3rem;
}
.title-3 {
  font-weight: bold;
  font-size: 1.8rem;
}
.link {
  color: #00f;
}
.text-center {
  text-align: center;
}
.container {
  max-width: min(90%, var(--container-size));
  margin: 0 auto;
}
